$modelWidth: 960;
$phoneWidth: 320;

// adaptive sizes for fonts padding margin width height fixed positions wherever you want
@mixin adaptiveLeft($modelSize, $phoneSize) {
  left: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveTop($modelSize, $phoneSize) {
  top: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveRight($modelSize, $phoneSize) {
  right: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveBottom($modelSize, $phoneSize) {
  bottom: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveWidth($modelSize, $phoneSize) {
  width: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveMax-Width($modelSize, $phoneSize) {
  max-width: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveHeight($modelSize, $phoneSize) {
  height: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveFontSize($modelSize, $phoneSize) {
  font-size: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveLineHeight($modelSize, $phoneSize) {
  line-height: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveMarginBottom($modelSize, $phoneSize) {
  margin-bottom: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveMarginTop($modelSize, $phoneSize) {
  margin-top: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveMarginLeft($modelSize, $phoneSize) {
  margin-left: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveMarginRight($modelSize, $phoneSize) {
  margin-right: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptiveMargin($top, $right, $bottom, $left, $phoneSize) {
  @if $top != 0 {
    margin-top: calc(
      (((#{$top - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }

  @if $right != 0 {
    margin-right: calc(
      (((#{$right - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }

  @if $bottom != 0 {
    margin-bottom: calc(
      (((#{$bottom - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }

  @if $left != 0 {
    margin-left: calc(
      (((#{$left - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }
}

@mixin adaptivePadding($top, $right, $bottom, $left, $phoneSize) {
  @if $top != 0 {
    padding-top: calc(
      (((#{$top - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }

  @if $right != 0 {
    padding-right: calc(
      (((#{$right - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }

  @if $bottom != 0 {
    padding-bottom: calc(
      (((#{$bottom - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }

  @if $left != 0 {
    padding-left: calc(
      (((#{$left - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) +
        #{$phoneSize}px
    );
  }
}

@mixin adaptivePaddingBottom($modelSize, $phoneSize) {
  padding-bottom: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptivePaddingTop($modelSize, $phoneSize) {
  padding-top: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptivePaddingLeft($modelSize, $phoneSize) {
  padding-left: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}

@mixin adaptivePaddingRight($modelSize, $phoneSize) {
  padding-right: calc(
    (((#{$modelSize - $phoneSize}) * ((100vw - #{$phoneWidth}px) * 100) / (#{$modelWidth - $phoneWidth})) / 100) + #{$phoneSize}px
  );
}
