@import "null.scss";
@import "mixins.scss";

body {
    min-width: 1024px;
    height: 100%;
    background: url("../img/bg.png");
    transition-duration: 500ms;
    .container {
        max-width: 960px;
        margin: 0 auto;
        perspective-origin: 50% 50%;
        perspective: 500px;
    }
    .wrapper {
        @include adaptivePadding(60, 60, 60, 60, 20);
    }
}
@import "header.scss";
@import "first_block.scss";
@import "middle_block-1.scss";
@import "middle_block-2.scss";
@import "last_block.scss";
@import "footer.scss";
@import "fonts.scss";
